body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  /* --bg: #378bdf; */
  --bg-accent: #dde0e4;
  --text-color: #ffffff;
  --nav-size: none;
  /* --border: 1px solid #474a4d; */
  --border-radius: 100px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
.dropdown {
  height: var(--nav-size);
  background-color: none;
  padding: 0 1rem;
  border-bottom: var(--border);
}
.dropdown-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.drop-item {
  width: calc(var(--nav-size)*0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button {
  --button-size: calc(var(--nav-size)*0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #f5f7fa;
  border-radius: 75%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.icon-button:hover {
  filter: brightness(1.2);
}
.dropdownmenu{
  position: absolute;
  top: 70px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1 rem;
  overflow: hidden;
}
.menu-item{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}
.menu-item:hover {
  background-color: #525357;
}
icon-right {
  margin-left: auto;
}

.rectangle {
  height: 400px;
  width: 200px;
  background-color: #444;
  position: absolute;
  left: 600px
}
.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.company > label{
  display: block;
 text-align: center;
}
.company_pictures {
  display: "block";
}